@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Aby dowiedzieć się więcej o Instytucie Odlewnictwa w Krakowie odwiedź
                <a href="http://www.iod.krakow.pl/" title="IO WebSite">http://www.iod.krakow.pl/</a>.
            </p>
        </div>
    </section>
}
<h3>Aktualności:</h3>
<ol class="round">
    <li class="one">
        <h5>Prace trwają...</h5>
        Witaj na stronie projektu Cast Knowledge. Jest to praca magisterska Michała Strawczyńskiego 
        przy współpracy Instytutu Odlewnictwa w Krakowie oraz dr inż. Krzysztofa Regulskiego.
        Prace nad projektem trwają pełną parą a niniejszy wpis jest informacją dla projektanta aby nie zapomniał
        że czasu coraz mniej a roboty cała masa!
        <h4>Powodzenia!!!</h4>
    </li>

    <li class="two">
        <h5>Test...</h5>
        TESTING...

    </li>

</ol>
