@model string

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Import nieudany.</br></h1>
    <h2 class="error">Niepoprawna nazwa pliku. Nie można zidentyfikować typu danych.</h2>
</hgroup>
