<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SyrinxMvcMenuDemo-20121212211234;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SyrinxMvcMenuDemo-20121212211234.mdf" providerName="System.Data.SqlClient" />
    <add name="CastKnowledgeEntities" connectionString="metadata=res://*/CastKnowledge.csdl|res://*/CastKnowledge.ssdl|res://*/CastKnowledge.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=castknowledge&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>