<!DOCTYPE html>
<html>
<head>
    <style type="text/css"></style>
    <script src="~/Scripts/JSPlumb/dom.jsPlumb-1.6.4-min.js"></script>
    <script src="~/Scripts/JSPlumb/ontologyJS.js"></script>
    <link href="~/Content/jsBox.css" rel="stylesheet" />
    <link href="~/Content/jsplumb.css" rel="stylesheet" />
</head>

<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                <p>
                    Nawigacja po ontologii
                </p>
            </div>
        </section>
    }
    @{
        
    
    }


    <div id="drag-drop" class="demo drag-drop">
        @for(var i=0; i<5;i++)
        {
            <div class="window jsplumb-draggable _jsPlumb_endpoint_anchor_" id="block @i">one</div>
        }
    </div>
</body>
</html>
