
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/jsplumb.css" rel="stylesheet" />
    <script src="~/Scripts/JSPlumb/jquery-1.9.0-min.js"></script>
    <script src="~/Scripts/JSPlumb/jquery-ui-1.9.2.min.js"></script>
    <script src="~/Scripts/JSPlumb/jquery.jsPlumb-1.6.4-min.js"></script>
	<script src="~/Scripts/JSPlumb/demo.js"></script>


            <div class="demo flowchart-demo" id="flowchart-demo">
                <div class="window _jsPlumb_endpoint_anchor_ ui-draggable" id="flowchartWindow1"><strong>1</strong><br><br></div>
                <div class="window _jsPlumb_endpoint_anchor_ ui-draggable" id="flowchartWindow2"><strong>2</strong><br><br></div>
                <div class="window _jsPlumb_endpoint_anchor_ ui-draggable" id="flowchartWindow3"><strong>3</strong><br><br></div>
                <div class="window _jsPlumb_endpoint_anchor_ ui-draggable" id="flowchartWindow4"><strong>4</strong><br><br></div>

		
		

