@model SyrinxMvc.Models.PublikacjeWrapper

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły publikacji</h2>

<fieldset>
    <legend>Publikacja</legend>

    @Html.Partial("PublikacjePartial", Model.publications)

    <p><b>Tagi: @Model.keyWords</b> </p><br />

</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new {  id=Model.publications.id_publikacji  }) |
    @Html.ActionLink("Cofnij do listy", "Index")
</p>
