@model IEnumerable<CastKnowledge.Domain.Entities.DatabaseQueryResult>

@{
    ViewBag.Title = "Dostawcy";
}

@foreach (var p in Model)
{
    
    <div class="contractor">
        <h3>@p.QueryResult_Contractor.name</h3>
       @p.QueryResult_Contractor.city
        @p.QueryResult_Contractor.companyType

        
        @foreach (var q in p.QueryResult_Contractor.resources)
        {
            @q.resourceName   
        }



    </div>
    
}
