@model CastKnowledgeWebApp.Domain.Publikacje

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń @Model.tytul_polski ?</h2>

<h3>Czy jesteś pewien?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Cofnij do listy", "Index")
    </p>
}
