@model string

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Import nieudany.</br></h1>
    <h2 class="error">Wystąpił błąd przy ładowaniu rekordu @Model. Sprawdź poprawność danych.</h2>
</hgroup>
