@{
    ViewBag.Title = "Open .XLS";
}
<h3>Pobierz formularze</h3>
<a href="~/Content/.Xls/Publikacje.xlsx">Publikacje.xlsx</a>
<a href="~/Content/.Xls/Odlewnie.xlsx">Odlewnie.xlsx</a>
<a href="~/Content/.Xls/Dostawcy.xlsx">Dostawcy.xlsx</a>
<a href="~/Content/.Xls/Patenty.xlsx">Patenty.xlsx</a>

<h2>Dodaj dane z Excela</h2>
@using (Html.BeginForm("Import", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="file" />
    <br />
    <input type="submit" value="Importuj" />
}